.results {
  @include flexColumn;
  padding: .5rem 1rem;
  width: 90vw;

  @include mq(768px) {
    width: 75vw;
  }
  @include mq(1025px) {
    width: 55vw;
  }

  .stats-bar {
    width: 100%;

    .stats {
      color: $stats-color;
      font-size: .75rem;

      @include mq(768px) {
        font-size: 1ren;
      }
    }
  }

  .search-result {
    width: 100%;

    .result-item {
      @include flexColumn;
      width: 100%;
      padding: .25rem 0;

      @include mq(768px) {
        padding: .5rem 0;
      }

      .result-title {
        width: 100%;
        text-align: left;
        font-size: 1rem;
        list-style: 1.5rem;
        margin-bottom: .25rem;
        overflow: hidden;
        //半角スペース、タブなど一つの半角スペースにまとめて表示　折り返しはしない
        white-space: nowrap;
        //テキストが表示領域を超えた場合、「…」を表示
        text-overflow: ellipsis;
        padding: 3px 2px;

        @include mq(768px) {
          font-size: 1.5rem;
          line-height: 1.75rem;
          margin-bottom: .5rem;
        }

        a {
          color: $link-color;
          text-decoration: none;
          cursor: pointer;
        }

        a:visited {
          color: $link-visited-color;
        }

        a:hover {
          text-decoration: underline;
        }

        a:focus {
          outline: 2px solid $link-outline-color;
        }
      }

      .result-contents {
        display: flex;
        width: 100%;

        .result-image {
          margin-right: .5rem;

          img {
            width: 100px;
            object-fit: cover;
          }
        }

        .result-text {
          flex-grow: 1;
          font-size: 14px;
          line-height: 20px;
          max-height: 60px;
          overflow: hidden;
          text-overflow: ellipsis;

          @include mq(768px) {
            font-size: 1rem;
            line-height: 28px;
          }
        }
      }
    }
  }
}
